@{
    Layout = "~/Shared/_SiteLayout.cshtml";

    var FruitTitle = "";
    var Contributor = "";
    var Popular = "";
    var Price = "";
    var FruitPic = "";

    if (IsPost)
    {
        FruitTitle = Request["FruitTitle"];
        Contributor = Request["Contributor"];
        Popular = Request["Popular"];
        Price = Request["Price"];
        FruitPic = Request["FruitPic"];

        Validation.RequireFields("FruitTitle", "Contributor", "Popular", "Price");

        var SQLInsert = "INSERT INTO Fruits (FruitTitle, Contributor, Popularity, Price, FruitPic) VALUES (@0,@1,@2,@3,@4)";

        if (Validation.IsValid())
        {
            try
            {
                var db = Database.Open("FruitDB"); // opening the connection string from web.config NOT the database
                db.Execute(SQLInsert, FruitTitle, Contributor, Popular, Price, FruitPic);
                Response.Write("Data Saved");
                Response.Redirect("~/HomePage");
            }
            catch (Exception ex)
            {
                Response.Write(ex.Message);
            }
        }

    }
}

<form method="post">
    <fieldset>
        <legend>Insert Data</legend>
        @Html.ValidationSummary(true)
        <div class="form-group row">
            <label for="FruitName" class="col-lg-3">Fruit Title</label>
            <div class="col-lg-9">
                <input type="text" value="@FruitTitle" name="FruitTitle" id="FruitName" class="form-control" />
                @Html.ValidationMessage("FruitTitle")
            </div>
        </div>

        <div class="form-group row">
            <label for="contrib" class="col-lg-3">Name of Contributor</label>
            <div class="col-lg-9">
                <input type="text" value="@Contributor" name="Contributor" id="contrib" class="form-control" />
                @Html.ValidationMessage("Contributor")
            </div>
        </div>
        <div class="form-group row">
            <label for="popular" class="col-lg-3">Popularity of Fruit</label>
            <div class="col-lg-9">
                <input id="popular" type="number" value="@Popular" name="Popular" class="form-control" />
                @Html.ValidationMessage("Popular")
            </div>
        </div>
        <div class="form-group row">
        <label for="price" class="col-lg-3">Expected Price of Fruit</label>
            <div class="col-lg-9">
                <input type="number" value="@Price" name="Price" id="price" class="form-control" />
                @Html.ValidationMessage("Price")
            </div>
        </div> 
        <div class="form-group row">
            <label for="pict" class="col-lg-3">Optional Picture of Fruit URL:</label>
            <div class="col-lg-9">
                <input type="url" value="@FruitPic" name="FruitPic" id="pict" class="form-control" />
            </div>
        </div>
        <div class="form-group row col-lg-12">
            <input type="submit" class="btn btn-success btn-group-lg" />
        </div>
    </fieldset>
</form>
