@{
    Layout = "~/Shared/_SiteLayout.cshtml";
    var Id = Request["Id"];

    if(!Id.IsInt())
    {
        Response.Redirect("~/");
    }

    var db = Database.Open("FruitDB");
    var SQLREAD = "SELECT * FROM Fruits WHERE Id=@0";
    var data = db.QuerySingle(SQLREAD, Id);

    var FruitTitle = data.FruitTitle;
    var Contributor = data.Contributor;
    var Popular = data.Popularity;
    var Price = data.Price;
    var FruitPic = data.FruitPic;

    if(IsPost)
    {
        FruitTitle = Request["FruitTitle"];
        Contributor = Request["Contributor"];
        Popular = Request["Popular"];
        Price = Request["Price"];
        FruitPic = Request["FruitPic"];


        Validation.RequireFields("FruitTitle", "Contributor", "Popular", "Price");

        var SQLUPDATE = "UPDATE Fruits SET FruitTitle=@0, Contributor=@1, Popularity=@2, Price=@3, FruitPic=@4 WHERE Id=@5";

        if (Validation.IsValid())
        {
            try
            {
                db.Execute(SQLUPDATE, FruitTitle, Contributor, Popular, Price, FruitPic, Id);
                Response.Write("The Fruit was Updated!!");
                Response.Redirect("~/HomePage.cshtml");
            }
            catch (Exception ex)
            {
                Response.Write(ex.Message);
            }
        }
    }

}

<form method="post">
    <fieldset>
        <legend>Insert Data</legend>
        @Html.ValidationSummary(true)
        <div>
            <label>Fruit Title</label>
            <input type="text" value="@FruitTitle" name="FruitTitle" />
            @Html.ValidationMessage("FruitTitle")
        </div>

        <div>
            <label>Name of Contributor</label>
            <input type="text" value="@Contributor" name="Contributor" />
            @Html.ValidationMessage("Contributor")
        </div>
        <div>
            <label>Popularity of Fruit</label>
            <input type="text" value="@Popular" name="Popular" />
            @Html.ValidationMessage("Popular")
        </div>
        <div>
            <label>Expected Price of Fruit</label>
            <input type="text" value="@Price" name="Price" />
            @Html.ValidationMessage("Price")
        </div> 
        <div>
            <label>Optional Picture of Fruit URL:</label>
            <input type="text" value="@FruitPic" name="FruitPic" />
        </div>
        <input type="submit" class="btn btn-success btn-group-lg" />
    </fieldset>
</form>