@{
    Layout = "~/Shared/_SiteLayout.cshtml";
    var Id = Request["Id"];

    if(!Id.IsInt())
    {
        Response.Redirect("~/");
    }

    var db = Database.Open("FruitDB");
    var SQLREAD = "SELECT * FROM Fruits WHERE Id=@0";
    var data = db.QuerySingle(SQLREAD, Id);

    var FruitTitle = data.FruitTitle;
    var Contributor = data.Contributor;
    var Popular = data.Popularity;
    var Price = data.Price;
    var FruitPic = data.FruitPic;

    if(IsPost)
    {
        FruitTitle = Request["FruitTitle"];
        Contributor = Request["Contributor"];
        Popular = Request["Popular"];
        Price = Request["Price"];
        FruitPic = Request["FruitPic"];


        Validation.RequireFields("FruitTitle", "Contributor", "Popular", "Price");

        var SQLUPDATE = "UPDATE Fruits SET FruitTitle=@0, Contributor=@1, Popularity=@2, Price=@3, FruitPic=@4 WHERE Id=@5";

        if (Validation.IsValid())
        {
            try
            {
                db.Execute(SQLUPDATE, FruitTitle, Contributor, Popular, Price, FruitPic, Id);
                Response.Write("The Fruit was Updated!!");
                Response.Redirect("~/HomePage.cshtml");
            }
            catch (Exception ex)
            {
                Response.Write(ex.Message);
            }
        }
    }

}

<form method="post">
    <fieldset>
        <legend class="text-center text-warning">Insert Data</legend>
        @Html.ValidationSummary(true)
        <div class="form-group row">
            <label for="FruitName" class="col-sm-3 text-center text-warning">Fruit Title</label>
            <div class="col-sm-6">
                <input type="text" value="@FruitTitle" name="FruitTitle" id="FruitName" class="form-control" />
                @Html.ValidationMessage("FruitTitle")
            </div>
        </div>

        <div class="form-group row">
            <label for="contrib" class="col-sm-3 text-center text-warning">Name of Contributor</label>
            <div class="col-sm-6">
                <input type="text" value="@Contributor" name="Contributor" id="contrib" class="form-control" />
                @Html.ValidationMessage("Contributor")
            </div>
        </div>
        <div class="form-group row">
            <label for="popular" class="col-sm-3 text-center text-warning">Popularity of Fruit</label>
            <div class="col-sm-6 input-group">
                <input id="popular" type="number" value="@Popular" name="Popular" class="form-control" />
                <div class="input-group-addon">%</div>
                @Html.ValidationMessage("Popular")
            </div>
        </div>
        <div class="form-group row">
            <label for="price" class="col-sm-3 text-center text-warning">Expected Price of Fruit</label>
            <div class="col-sm-6 input-group">
                <div class="input-group-addon">$</div>
                <input type="number" value="@Price" name="Price" id="price" class="form-control" />
                <div class="input-group-addon">.00</div>
                @Html.ValidationMessage("Price")
            </div>
        </div>
        <div class="form-group row">
            <label for="pict" class="col-sm-3 text-center text-warning">Optional Picture of Fruit URL:</label>
            <div class="col-sm-6">
                <input type="url" value="@FruitPic" name="FruitPic" id="pict" class="form-control" />
            </div>
        </div>
        <div class="form-group row col-sm-12">
            <input type="submit" class="btn btn-success btn-group-lg" />
        </div>
    </fieldset>
</form>
